
<select name="Wachtrij" placeholder="Wachtrij">
  <option value="c3e70c63-b67f-40a7-9145-26b6a1cace87">herplannen</option>
  <option value="7ae54fc0-6025-4fc6-9be4-76e22c59b236">te factureren</option>
</select>

<input type="text" name="NaamHandtekening" placeholder="Naam" />

<div class="sig" id="sig">

  <ul class="sigNav">
    <li class="clearButton"><a href="#clear">Opnieuw</a></li>
  </ul>

  <div class="sig sigWrapper">
    <div class="typed"></div>
    <canvas class="pad" width="290" height="330"></canvas>
    <input type="hidden" name="output" class="output">
  </div>

  <input class="button secondary" type="submit" id="verstuur" value="Versturen" />
</div>