<input type="hidden" name="Momenten.Index" value="first" />
<input class="momenten" type="date" name="Momenten[first].Datum" placeholder="Datum" />
<input class="momenten start" type="time" name="Momenten[first].Begintijd" placeholder="08:00" />
<input class="momenten eind end" type="time" name="Momenten[first].Eindtijd" placeholder="17:00" />

<div class="clear"> </div>

<input type="hidden" name="Momenten.Index" value="second" />
<input class="momenten" type="date" name="Momenten[second].Datum" placeholder="Datum" />
<input class="momenten start" type="time" name="Momenten[second].Begintijd" placeholder="08:00" />
<input class="momenten eind end" type="time" name="Momenten[second].Eindtijd" placeholder="17:00" />

<div class="clear"> </div>