<input type="hidden" name="Onderdelen.Index" value="first" />
<input class="onderdelen" type="number" name="Onderdelen[first].Aantal" placeholder="Nr" />
<input class="onderdelen" type="text" name="Onderdelen[first].Omschrijving" placeholder="Omschrijving" value="Voorrijtarief" />

<div class="clear"> </div>
<input type="hidden" name="Onderdelen.Index" value="second" />
<input class="onderdelen" type="number" name="Onderdelen[second].Aantal" placeholder="Nr" />
<input class="onderdelen" type="text" name="Onderdelen[second].Omschrijving" placeholder="Omschrijving" />

<div class="clear"> </div>